[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CamelUp"]
	path = CamelUp
	url = https://github.com/mczek/camel-up
[submodule "mcStats"]
	path = mcStats
	url = https://github.com/mczek/mcstats
